@import "../../../assets/variables";
.searchOptions {
    margin: 10px 30px !important;
    span {
      margin: 10px;
      font: {
        size: 24px;
        weight: 400;
      }
    }
    .buttonContainer {
      margin-bottom: 10px;
      .resultButton {
        font: {
          size: 16px !important;
          weight: 400;
        }
        background-color: $CardColor;
        width: fit-content;
        height: 44px;
        border: none;
      }
    }
  }