@import "../../../assets/variables";
.TripsContainer {
  border: 1px solid black;
  border-radius: 50px 50px 0 0;
  border-bottom: none;
  background-color: #fff;
  min-height: 200px;
  position: absolute;
  bottom: -387px;
  // padding: 0 30px !important;
  // padding-top: 70px auto !important;
  
}
