@import "../../../assets/variables";
@import "../../../assets/mixins";
.sidebar {
  padding: 0;
  background-color: $secondaryColor ;
  // position: absolute;
  width: 100%;
  // max-w  idth: 200px;
  height: 100vh;
  align-items: center;
  @media screen and (max-width:767px) {
    // overflow-x: scroll;
    height: 80px !important;
    flex-direction: row !important;
    justify-content: space-around;

    // display: none !important;
    // position: absolute !important;
    // width: 50vw;

  }
 
  h2 {
    @include font(36px, 400);
    margin: 57px 0;
    @media screen and (max-width:767px) {
      @include font(20px, 400);

    }
  }
  .menuContainer{
    @media screen and (max-width:767px) {
      flex-direction: row !important;
      justify-content: space-between;
      // display: none !important;
      // position: absolute !important;
      // width: 50vw;
  
    }
    .up{
      @media screen and (max-width:767px) {
        @include font(10px,400);
        display: flex;
        height: 80px !important;
        flex-direction: row !important;
        align-items: center;
        // justify-content: space-between;
        // display: none !important;
        // position: absolute !important;
        // width: 50vw;
    
      }
    }
    .down{
      margin-bottom: 20px;
      align-items: center;
      span{
        
        @include font(20px,400);
        @media screen and (max-width:767px) {
          @include font(10px,400);
          display: flex;
          // height: 80px !important;
          flex-direction: row !important;
          align-items: center;
          // justify-content: space-between;
          // display: none !important;
          // position: absolute !important;
          // width: 50vw;
      
        }
      }
    }
  }
}
