@import "../../../assets/variables";
@import "../../../assets/mixins";
.sidebar {
  padding: 0;
  background-color: $secondaryColor ;
  // position: absolute;
  width: 100%;
  height: 100vh;
  h2 {
    @include font(36px, 400);
    margin: 57px 0;
  }
  .menuContainer{
    .down{
      margin-bottom: 20px;
      span{
        
        @include font(20px,400)
      }
    }
  }
}
