@import "../../../assets/variables";
@import "../../../assets/mixins";
.ProfileLayout {
  overflow: hidden;
  .sidebarcontainer{
    // max-width: 200px;
    // min-width: 300px;
    z-index: 20;
    
    @media screen and (max-width:767px) {
      height: 10px !important;
      // display: none !important;
      // position: absolute !important;
      // width: 50vw;

    }
  }
  .pimagecontainer {
    overflow-y: scroll;
    /* width */
  @include scroolbar;
    .pimage {
      object-fit: cover;
      height: 300px;
    }
    .pageWrapper {
      background-color: $FormBG;
      top: 220px;
      min-height: 80%;
      border-radius: 50px 50px 0 0;
      padding: 40px;
    }
  }
}
