.container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  .left {
    height: 100%;
  }
//   .right {
//     // background-color: blue;
//   }
  
}
